.article {
    /* border: 1px solid lightslategrey; */
    /* border-radius: 10px; */
    padding: 10px;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 20px;
    margin-top: 10px;
}

.article .title {
    background-color:  rgba(255, 99, 71, 0.5);
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;

    font-family:sans-serif;
    font-weight: bold;

}

.article .content {
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
}

.newsTotal {
    font-family:sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
}