.spinner {
    display: inline-block;
    width: 64px;
    height: 64px;
    margin-left: auto;
    margin-right: auto;
}

.spinnerWrapper {
    width: 64px;
    margin-left: auto;
    margin-right: auto;
}

.spinner:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #fff;
    border-color: #ff6347 transparent #ff6347 transparent;
    animation: spinner 1.2s linear infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}