header {
    background-color: rgb(209, 209, 209);
    height: 41px;

    background-color: #333;
  }
  
  header ul {
    display: inline-block;
    box-sizing: border-box;
    text-align: left;
    height: 41px;
    margin: 0;
    margin-left: 40px;
  }
  
  header ul li {
    display: inline-block;
    box-sizing: border-box;
    padding: 0 20px;
    height: 41px;
  }

  header ul li:hover {
   background-color: rgb(255, 99, 71);
  }
  
  header ul li a {
    display: inline-block;
    line-height: 41px;
    height: 41px;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: white;
  }
  
  header ul li a:hover {
    color: whitesmoke;
    cursor: pointer;
  }

  .activeMenuElement {
    color: rgb(255, 99, 71);
  }

  header button {
    margin-left: 50px;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12pt;
    text-decoration: none;
    background-color: inherit;
    color: white;
    border: none;
    cursor: pointer;
  };