#container {
    position: fixed;
    width: 343px;
    height: 358px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    box-sizing: content-box;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 5px;
    background-color: rgb(247, 247, 247);

}

#container form h3 {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 80px; */
    width: 263px;
    height: 154px;
    text-align: center;
    line-height: 180px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 28pt;
    font-weight: lighter;
    font-stretch: condensed;
}

#container form input {
    display: block;
    box-sizing: border-box;

    width: 263px;
    height: 41px;
    margin-left: auto;
    margin-right: auto;
    text-indent: 10px;


    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid rgb(201, 201, 201);
}

.emailError {
    background-color: pink;
}

#container form input[type=password] {
    margin-top: 10px;
}

#container form button {
    display: block;
    width: 263px;
    height: 41px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

    background-color: rgb(78, 145, 254);
    color: white;
    font-weight: bolder;
    font-size: 14pt;
    border: none;
    cursor: pointer;
}

#container form button:hover {
    border: 1px solid rgb(27, 115, 255);
}

#container form button:disabled {
    background-color: rgb(90, 90, 90);
}

#container form p {
    width: 263px;
    color: crimson;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;

    font-size: 12pt;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}