.profileContent {
    margin-top: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-family: Helvetica, Arial, sans-serif;
    font-size: 12pt;
}

.profileContent > div {
    min-width: 200px;
    /* padding: 5px; */

    border: 2px solid grey;
    border-radius: 10px;
}

.profileContent > div > h3 {
    margin: 0;
    text-align: center;
    min-height: 40px;
    line-height: 40px;

}

.profileContent > div > ul {
    margin: 0;
    padding: 0;
}

.profileContent > div > ul > li {
    list-style-type: none;
    margin-left: 10px;
    margin-bottom: 10px;
    vertical-align: middle;
}

.profileContent > div > ul img {
    width: 16px;
}

.profileContent > div > ul a {
    padding-left: 10px;

    text-decoration: none;
    color: black;
}

.profileContent > div > ul a:hover {
    color: #ff6347;
}

.pageError {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

}